In [224]:
import pandas as pd
import numpy as np  
import plotly.express as px

# reading the data in the VSCode below / leitudas dados no VSCode abaixo:
# after checking the data, sep = ',' was added to make the data display more organized / após verificação dos dados, foi adicionado o sep = ',' para deixar a visualização dos dados mais organizada

df_games = pd.read_csv(r'C:\Users\Rafael\Desktop\Rafael\Bootcamp\Bootcamp-Projects\Bootcamp-Projects-Github\Bootcamp-Project-Video-Games-Ice-Company\games.csv', sep = ',')

# reading the datasets in DataFrames / leitura dos conjuntos de dados em DataFrames

# df_games = pd.read_csv('/Users/Rafael/Desktop/Rafael/Bootcamp/Projects/Bootcamp-Projects-Github/Bootcamp-Project-Video-Games-Ice-Company/games.csv', sep = ',')

In [225]:
df_games

,Name,Platform,Year_of_Release,Genre,NA_sales,EU_sales,JP_sales,Other_sales,Critic_Score,User_Score,Rating
0,Wii Sports,Wii,2006.0,Sports,41.36,28.96,3.77,8.45,76.0,8,E
1,Super Mario Bros.,NES,1985.0,Platform,29.08,3.58,6.81,0.77,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,15.68,12.76,3.79,3.29,82.0,8.3,E
3,Wii Sports Resort,Wii,2009.0,Sports,15.61,10.93,3.28,2.95,80.0,8,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,11.27,8.89,10.22,1.00,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
16710,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,0.00,0.00,0.01,0.00,NaN,NaN,NaN
16711,LMA Manager 2007,X360,2006.0,Sports,0.00,0.01,0.00,0.00,NaN,NaN,NaN
16712,Haitaka no Psychedelica,PSV,2016.0,Adventure,0.00,0.00,0.01,0.00,NaN,NaN,NaN
16713,Spirits & Spells,GBA,2003.0,Platform,0.01,0.00,0.00,0.00,NaN,NaN,NaN
16714,Winning Post 8 2016,PSV,2016.0,Simulation,0.00,0.00,0.01,0.00,NaN,NaN,NaN

In [226]:
df_games.info() # information about the dataset / informação sobre o conjunto de dados
print()
df_games.isnull().sum() # sum of null values / soma de valores nulos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16713 non-null  object
 1   Platform         16715 non-null  object
 2   Year_of_Release  16446 non-null  float64
 3   Genre            16713 non-null  object
 4   NA_sales         16715 non-null  float64
 5   EU_sales         16715 non-null  float64
 6   JP_sales         16715 non-null  float64
 7   Other_sales      16715 non-null  float64
 8   Critic_Score     8137 non-null   float64
 9   User_Score       10014 non-null  object
 10  Rating           9949 non-null   object
dtypes: float64(6), object(5)
memory usage: 1.4+ MB

Name                  2
Platform              0
Year_of_Release     269
Genre                 2
NA_sales              0
EU_sales              0
JP_sales              0
Other_sales           0
Critic_Score       8578
User_Score         6701
Rating             6766
dtype: int64

In [227]:
df_games.duplicated().sum()

np.int64(0)

Checking the data it's possible to see that we don't have duplicate values, but have null values in different columns and the names are with the initial letter in uppercase

================================================================================================================

Checando os dados podemos verificar que não existem valores duplicados, porém temos valores nulos em diferentes colunas e as colunas tem a letra inicial maiúscula

In [228]:
df_games.columns # columns name / nomes

Index(['Name', 'Platform', 'Year_of_Release', 'Genre', 'NA_sales', 'EU_sales',
       'JP_sales', 'Other_sales', 'Critic_Score', 'User_Score', 'Rating'],
      dtype='object')

In [229]:
header = ['Name', 'Platform', 'Year_of_Release', 'Genre', 'NA_sales', 'EU_sales', 'JP_sales', 'Other_sales', 'Critic_Score', 'User_Score', 'Rating']
header_low = []

for data in header:
    header_low.append(data.lower()) # lower case columns / letras minúsculas nas colunas

df_games.columns = header_low

df_games.columns

Index(['name', 'platform', 'year_of_release', 'genre', 'na_sales', 'eu_sales',
       'jp_sales', 'other_sales', 'critic_score', 'user_score', 'rating'],
      dtype='object')

In [230]:
# replacing null values with 'Unknown' or '0' / substituindo valores nulos por 'Unknown' ou '0'

df_games['name'] = df_games['name'].fillna('Unknown')
df_games['year_of_release'] = df_games['year_of_release'].fillna(0)
df_games['genre'] = df_games['genre'].fillna('Unknown')
df_games['critic_score'] = df_games['critic_score'].fillna(0)
df_games['user_score'] = df_games['user_score'].fillna(0)
df_games['rating'] = df_games['rating'].fillna('Unknown')

df_games.isnull().sum()

name               0
platform           0
year_of_release    0
genre              0
na_sales           0
eu_sales           0
jp_sales           0
other_sales        0
critic_score       0
user_score         0
rating             0
dtype: int64

In [231]:
# df_games['user_score'] = df_games['user_score'].replace('tbd', '0') # replacing 'tbd' with '0' / substituindo 'tbd' por '0'

In [232]:
df_games['year_of_release'] = df_games['year_of_release'].astype(int)
df_games['critic_score'] = df_games['critic_score'].astype(int)

Above, the first step was change all the uppercase letters to lowercase. After this adjustment, was replaced all the null values with 'Unknown' or '0' based in the column information and in the user_score column was changed the 'tbd' (to be determined) to '0'. The last change at the dataset was adjust the columns type to the more appropriated.

The columns that we have numbers, the null values was changed to 0 because it's the value that makes the most sense and won't get in the way if you need to use the data to make a sum and to the columns that have written information was changed to unknown once has not a important information and it's better to have a unkown than leave NaN or blank.

The columns year_of_release and critic_score, was changed the type to int because the year will never have decimals and the critic score is always a entire value without decimals.

Null values may occur because the data set is from 2016 and some information may have been lost.

For TDB values (to be determined), it appears in the user_score column, where the value could be changed to 0, however, this could also confuse with a 0 score from users. Therefore, it's better to leave the information still to be determined, as it won't get in the way of our analysis.

================================================================================================================

Acima, a primeira etapa foi alterar todas as letras maiúsculas para minúsculas. Após esse ajuste, todos os valores nulos foram substituídos por 'Unknown' ou '0' com base nas informações da coluna e, na coluna user_score, o valor 'tbd' (a ser determinado) foi alterado para '0'. A última alteração no conjunto de dados foi ajustar o tipo das colunas para o mais apropriado.

As colunas que tinham número, os valores nulos foram altetados para 0, pois é o valor que faz mais sentido e não irá atrapalhar se caso seja necessário usar os dados para fazer uma soma e as colunas que os dados são escritos foram alterados para unknown uma vez que não havia informação importante para a adicionar e também por ser melhor do que deixar apenas NaN ou em branco.

As colunas year_of_release and critic_score, foram alteradas para o tipo int porque um ano nunca terá casas decimais e a nota dos críticos são sempre um valor inteiro sem decimais.

Os valores nulos podem ocorrer porque o conjunto de dados é de 2016 e pode ser que algumas informações foram perdidas.

Para os valores TDB (a ser determinado), aparece na coluna user_score, onde o valor poderia ser alterado para 0, contudo, isso poderia também confundir com uma nota 0 por parte dos usuários. Sendo assim, é melhor deixar com a informação que ainda está por ser determinada, pois não irá atrapalhar em nossa análise.

In [236]:
# sum of the total sales of each region and adding a new column / soma de vendas de cada região e adicionando em uma nova coluna

df_games['total_sales'] = (df_games['na_sales'] +
                           df_games['eu_sales'] +
                           df_games['jp_sales'] +
                           df_games['other_sales'])

print(df_games[['name', 'total_sales']])

                                name  total_sales
0                         Wii Sports        82.54
1                  Super Mario Bros.        40.24
2                     Mario Kart Wii        35.52
3                  Wii Sports Resort        32.77
4           Pokemon Red/Pokemon Blue        31.38
...                              ...          ...
16710  Samurai Warriors: Sanada Maru         0.01
16711               LMA Manager 2007         0.01
16712        Haitaka no Psychedelica         0.01
16713               Spirits & Spells         0.01
16714            Winning Post 8 2016         0.01

[16715 rows x 2 columns]